In [1]:
import pandas as pd

# Data Cleansing

In [195]:
books = pd.read_csv('books.csv')

In [196]:
books = books.drop(columns=['country', 'domain', 'gallery', 'image', 'model', 'url', 'weight', 'uniq_id', 'type'])

In [197]:
books_desc = books['desc']
books_desc[0]

'{"Description"=>{"Product Code"=>"9780553590487_20567", "ISBN-13"=>"9780553590487", "ISBN-10"=>"553590480", "Authored By"=>"Kay Hooper", "Publication Year"=>"2007", "Imprint"=>"Bantam", "Binding"=>"Others", "Languages"=>"English", "ISBN 13"=>"9780553590487"}, "Shipping Details"=>{"Estimated Arrival"=>"8 - 11 days", "Return Policy"=>"Seller will accept returns within a 15 days from date of delivery of the item"}}'

In [198]:
book_parse_desc = []
from ast import literal_eval
for a in books_desc:
    r = a.replace('=>', ':')
    r = r.replace('{"Description":', '')
    r = r.replace('{', '')
    r = r.replace('}', '')
    r = r.replace("'", "")
    r = r.replace("Shipping Details", '')
    r = r.replace("Terms & Condition", '')
    r = r.replace("Product Details", '')
    r = r.replace("Warranty Details", '')
    r = r.replace("Description", '')    
    r = r.replace('""' + ':', '')
    r = r.replace(' , ', '')
    r = "{" + r + "}"
    r = literal_eval(r)
    book_parse_desc.append(r)

In [199]:
book_parse_desc[0]

{'Product Code': '9780553590487_20567',
 'ISBN-13': '9780553590487',
 'ISBN-10': '553590480',
 'Authored By': 'Kay Hooper',
 'Publication Year': '2007',
 'Imprint': 'Bantam',
 'Binding': 'Others',
 'Languages': 'English',
 'ISBN 13': '9780553590487',
 'Estimated Arrival': '8 - 11 days',
 'Return Policy': 'Seller will accept returns within a 15 days from date of delivery of the item'}

In [200]:
#books_desc
books1 = pd.DataFrame(x for x in book_parse_desc)

In [201]:
books1.columns

Index(['About the Author', 'Age', 'Age wise', 'Author', 'Author Info',
       'Authored By', 'Binding', 'Brand', 'Dimensions (L X B X H)',
       'Edited By', 'Edition', 'Estimated Arrival', 'ISBN 13', 'ISBN-10',
       'ISBN-13', 'ISBN10', 'ISBN13', 'Imprint', 'Imprints', 'Language',
       'Languages', 'No. Of Pages', 'Number Of Pages', 'Product Code',
       'Product Weight', 'Publication Year', 'Publisher', 'Publisher Name',
       'Publisher name', 'Return Policy', 'Series Name', 'Shipping Charge',
       'Specialization', 'Type', 'University', 'Warranty Summary', 'Weight',
       'Weight(Gm)', 'Weight(gm)'],
      dtype='object')

In [202]:
books1 = books1[['Author', 'Authored By', 'Binding', 'Publisher', 'Publication Year', 'Publisher Name']]

In [204]:
books1['Author'] = books1['Author'].map(str).replace('nan', '') + ' ' + books1['Authored By']
books1['Publisher'] = books1['Publisher'].map(str).replace('nan', '') + ' ' + books1['Publisher Name']

books1 = books1.drop(columns=['Authored By', 'Publisher Name'])

In [205]:
books1.head()

                  Author    Binding               Publisher Publication Year
0             Kay Hooper     Others                     NaN             2007
1   Devaki Nandan Khatri  Paperback      Rupa Publications              2015
2              Tami Hoag  Paperback            Random House             2008
3         Danielle Steel  Paperback   Transworld Publishers             2015
4                    NaN  Paperback                   Books             2015

In [206]:
books1

,Author,Binding,Publisher,Publication Year
0,Kay Hooper,Others,NaN,2007
1,Devaki Nandan Khatri,Paperback,Rupa Publications,2015
2,Tami Hoag,Paperback,Random House,2008
3,Danielle Steel,Paperback,Transworld Publishers,2015
4,NaN,Paperback,Books,2015
5,Christopher Reich,Others,NaN,2004
6,John Grisham,Paperback,Dell,2012
7,"Stevens, Taylor",Paperback,Random House,2014
8,Jude Deveraux,Others,NaN,2014
9,Erin Hunter,Paperback,Harper Collins Publishers India,2015
10,Richa Lakhera,Paperback,Rupa Publication,2014
11,Jude Deveraux,Paperback,Pocket Books,2012
12,NaN,Hardcover,NaN,2011
13,NaN,Hardcover,NaN,2007
14,Mishna Wolff,Hardcover,St. Martins Press,2008
15,"Roberts, Nora",Paperback,Berkley,2014
16,Philippa Gregory,Paperback,Simon And Schuster,2011
17,James Herbert,Paperback,Pan Macmillan U.K,2010
18,Gallenzi Alessandra,Paperback,Alma Books,2012
19,Amanda Quick,Others,NaN,2004
20,Edith Wharton,Others,NaN,1993
21,Evan Gottlieb,Paperback,Bloomsbury,2013
22,Anita Nair,Paperback,Harper Collins Publishers India,2015
23,Lisa Gardner,Others,NaN,2001
24,NaN,Paperback,Harper Collins Publishers India,2015
25,Iris Johansen,Others,NaN,2008
26,Mary Balogh,Others,NaN,2009
27,NaN,Paperback,NaN,2009
28,Paul Bracken Bracken Peg Carolyn,Paperback,Henry Holt And Company,2001
29,Giuseppe Tomasi Di Lampedusa,Paperback,NaN,2014
...,...,...,...,...
1470,NaN,Paperback,NaN,2010
1471,NaN,Paperback,NaN,2001
1472,Michael Phd Thompson,Paperback,NaN,2004
1473,NaN,Paperback,NaN,2012
1474,Mario Puzo,Paperback,Arrow,2012 September
1475,"Jong, Erica",Paperback,Canongate,2015
1476,Richard Florida,Hardcover,Collins,2005
1477,Margaret Thatcher,Paperback,Perennial,2013
1478,NaN,Paperback,NaN,2012
1479,Lama Surya Das,Paperback,NaN,1998
1480,Michael Crichton,Paperback,Harpercollins Publisher,2009
1481,NaN,Paperback,NaN,2012
1482,Michael Phd Thompson,Paperback,NaN,2005
1483,NaN,Paperback,NaN,NaN
1484,Donald J Trump Robert T Kiyosaki,Paperback,Manjul Publishing House,2011
1485,NaN,Paperback,NaN,2008
1486,NaN,Hardcover,NaN,2011
1487,The Editors Of House Beautiful Magazine,Paperback,Sterling,2014
1488,NaN,Paperback,NaN,2003
1489,Larry Goins,Hardcover,Wiley,NaN
1490,NaN,Paperback,NaN,2002
1491,Michael Phd Thompson,Paperback,NaN,2009
1492,James Dashner,Paperback,Corgi Childrens,2015
1493,NaN,Paperback,NaN,2004
1494,NaN,Paperback,HarperCollins Childrens Books Harper Collins P...,2013
1495,NaN,Paperback,NaN,2003
1496,Pecina Bojanic,Hardcover,Informa Healthcare,2003
1497,NaN,Paperback,NaN,2005
1498,NaN,Paperback,NaN,2012
1499,NaN,Paperback,NaN,2007

In [211]:
new_books = pd.concat([books, books1], axis=1)

In [245]:
other_sellers = new_books['other_sellers']
other_sellers[1]

'[{"name":"comma365 ","id":21057,"offer_text":null,"offer_price":316,"totalScore":-316,"product_id":34179194,"url":"https://catalog.paytm.com/v1/p/chandrakanta-9788129131126_21057","seourl":"https://catalog.paytm.com/v1/p/chandrakanta-9788129131126_21057","exist":true,"applied":false},{"name":"Starmark ","id":20822,"offer_text":null,"offer_price":356,"totalScore":-356,"product_id":30565113,"url":"https://catalog.paytm.com/v1/p/chandrakanta-9788129131126_20822","seourl":"https://catalog.paytm.com/v1/p/chandrakanta-9788129131126_20822","exist":true,"applied":false},{"name":"Aarohi Online Book Shop","id":188121,"offer_text":null,"offer_price":495,"totalScore":-495,"product_id":41585405,"url":"https://catalog.paytm.com/v1/p/chandrakanta-AOBS-215_188121","seourl":"https://catalog.paytm.com/v1/p/chandrakanta-AOBS-215_188121","exist":true,"applied":false}]'