In [2]:
import pandas as pd

# Data Cleansing

In [3]:
books = pd.read_csv('books.csv')

In [160]:
books.shape

(1500, 13)

In [4]:
books = books.drop(columns=['country', 'domain', 'gallery', 'image', 'model', 'url', 'weight', 'uniq_id', 'type'])

In [5]:
books_desc = books['desc']
books_desc[0]

'{"Description"=>{"Product Code"=>"9780553590487_20567", "ISBN-13"=>"9780553590487", "ISBN-10"=>"553590480", "Authored By"=>"Kay Hooper", "Publication Year"=>"2007", "Imprint"=>"Bantam", "Binding"=>"Others", "Languages"=>"English", "ISBN 13"=>"9780553590487"}, "Shipping Details"=>{"Estimated Arrival"=>"8 - 11 days", "Return Policy"=>"Seller will accept returns within a 15 days from date of delivery of the item"}}'

In [6]:
book_parse_desc = []
from ast import literal_eval
for a in books_desc:
    r = a.replace('=>', ':')
    r = r.replace('{"Description":', '')
    r = r.replace('{', '')
    r = r.replace('}', '')
    r = r.replace("'", "")
    r = r.replace("Shipping Details", '')
    r = r.replace("Terms & Condition", '')
    r = r.replace("Product Details", '')
    r = r.replace("Warranty Details", '')
    r = r.replace("Description", '')    
    r = r.replace('""' + ':', '')
    r = r.replace(' , ', '')
    r = "{" + r + "}"
    r = literal_eval(r)
    book_parse_desc.append(r)

In [8]:
#books_desc
books1 = pd.DataFrame(x for x in book_parse_desc)

In [9]:
books1.columns

Index(['About the Author', 'Age', 'Age wise', 'Author', 'Author Info',
       'Authored By', 'Binding', 'Brand', 'Dimensions (L X B X H)',
       'Edited By', 'Edition', 'Estimated Arrival', 'ISBN 13', 'ISBN-10',
       'ISBN-13', 'ISBN10', 'ISBN13', 'Imprint', 'Imprints', 'Language',
       'Languages', 'No. Of Pages', 'Number Of Pages', 'Product Code',
       'Product Weight', 'Publication Year', 'Publisher', 'Publisher Name',
       'Publisher name', 'Return Policy', 'Series Name', 'Shipping Charge',
       'Specialization', 'Type', 'University', 'Warranty Summary', 'Weight',
       'Weight(Gm)', 'Weight(gm)'],
      dtype='object')

In [10]:
books1 = books1[['Author', 'Authored By', 'Binding', 'Publisher', 'Publication Year', 'Publisher Name']]

In [11]:
books1['Author'] = books1['Author'].map(str).replace('nan', '') + ' ' + books1['Authored By']
books1['Publisher'] = books1['Publisher'].map(str).replace('nan', '') + ' ' + books1['Publisher Name']

books1 = books1.drop(columns=['Authored By', 'Publisher Name'])

In [12]:
books1.head()

                  Author    Binding               Publisher Publication Year
0             Kay Hooper     Others                     NaN             2007
1   Devaki Nandan Khatri  Paperback      Rupa Publications              2015
2              Tami Hoag  Paperback            Random House             2008
3         Danielle Steel  Paperback   Transworld Publishers             2015
4                    NaN  Paperback                   Books             2015

In [413]:
new_books = pd.concat([books, books1], axis=1)

In [424]:
other_sellers = books['other_sellers']

In [425]:
other_seller1 = []
other_seller2 = []
other_seller3 = []


other_sellers = other_sellers.fillna('[{"name":"none"}]')

for index, val in enumerate(other_sellers):
    if ("},{" not in other_sellers[index]): 
        other_seller1.append(val)
    
    elif ("},{" in other_sellers[index]): 
        try: 
            OS1, OS2 = other_sellers[index].split("},{")
            other_seller1.append(OS1 + "}]")
        except:
            pass
        
        try: 
            OS1, OS2, OS3 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
    
        try: 
            OS1, OS2, OS3, OS4 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
       
        try: 
            OS1, OS2, OS3, OS4, OS5 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
       
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass

        try: 
            OS1, OS2, OS3, OS4, OS5, OS6, OS7 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6, OS7, OS8 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6, OS7, OS8, OS9 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6, OS7, OS8, OS9, OS10 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6, OS7, OS8, OS9, OS10, OS11 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6, OS7, OS8, OS9, OS10, OS11, OS12 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6, OS7, OS8, OS9, OS10, OS11, OS12, OS13 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6, OS7, OS8, OS9, OS10, OS11, OS12, OS13, OS14 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6, OS7, OS8, OS9, OS10, OS11, OS12, OS13, OS14, OS15 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6,  OS7, OS8, OS9, OS10, OS11, OS12, OS13, OS14, OS15, OS16 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6,  OS7, OS8, OS9, OS10, OS11, OS12, OS13, OS14, OS15, OS16, OS17 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6,  OS7, OS8, OS9, OS10, OS11, OS12, OS13, OS14, OS15, OS16, OS17, OS18 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6,  OS7, OS8, OS9, OS10, OS11, OS12, OS13, OS14, OS15, OS16, OS17, OS18, OS19 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6,  OS7, OS8, OS9, OS10, OS11, OS12, OS13, OS14, OS15, OS16, OS17, OS18, OS19, OS20 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6,  OS7, OS8, OS9, OS10, OS11, OS12, OS13, OS14, OS15, OS16, OS17, OS18, OS19, OS20, OS21 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass
        try: 
            OS1, OS2, OS3, OS4, OS5, OS6,  OS7, OS8, OS9, OS10, OS11, OS12, OS13, OS14, OS15, OS16, OS17, OS18, OS19, OS20, OS21, OS22 = other_sellers[index].split("},{")
            other_seller1.append(OS1+ "}]")
        except:
            pass

In [426]:
print(len(other_seller1))
print(len(other_seller2))
print(len(other_seller3))

1500
0
0

In [427]:
import json
other_seller1new = []

for i in other_seller1:
    r = i.replace('[', '')
    r = r.replace(']', '')
    r = json.loads(r)
    other_seller1new.append(r)

In [428]:
OS1 = pd.DataFrame(x for x in other_seller1new)
OS1 = OS1[['name','offer_price']]
OS1 = OS1.rename(index=str, columns={"name":"seller1_name", "offer_price": "seller1_offer_price"})

In [429]:
OS1.head()

  seller1_name  seller1_offer_price
0           A1                359.0
1    comma365                 316.0
2         none                  NaN
3    comma365                 319.0
4     NSGlobal               1949.0

In [464]:
OS1.index

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '1490', '1491', '1492', '1493', '1494', '1495', '1496', '1497', '1498',
       '1499'],
      dtype='object', length=1500)

In [467]:
OS1.index = OS1.index.astype(int)

new_books = pd.merge(books, books1, left_index=True, right_index=True)
new_books = pd.merge(new_books, OS1, left_index=True, right_index=True)

In [469]:
new_books = new_books.drop(columns=['desc', 'insertedon', 'other_sellers', 'specifications'])
new_books

,amtsave,brand,breadcrumbs,discount,list_price,name,payment_methods_supported,productcode,selling_price,Author,Binding,Publisher,Publication Year,seller1_name,seller1_offer_price
0,72,NaN,Books | Literature & Fiction | Romance | C.J.'...,20%%,358,C.J.'s Fate,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",2431977,286,Kay Hooper,Others,NaN,2007,A1,359.0
1,117,Rupa Publications India,Books | Literature & Fiction | Short Stories |...,30%%,395,Chandrakanta,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",22655539,278,Devaki Nandan Khatri,Paperback,Rupa Publications,2015,comma365,316.0
2,57,Random House,Books | Literature & Fiction | Romance | Heart...,14%%,416,Heart Of Dixie,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13587974,359,Tami Hoag,Paperback,Random House,2008,none,NaN
3,84,Transworld Publishers,Books | Literature & Fiction | General | Perfe...,21%%,399,Perfect Life,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",29545536,315,Danielle Steel,Paperback,Transworld Publishers,2015,comma365,319.0
4,1050,Books,Books | Literature & Fiction | Literature | Pa...,35%%,2999,Paulo Coelho The Golden Collection,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",23104384,1949,NaN,Paperback,Books,2015,NSGlobal,1949.0
5,63,Random House Publishing Group,Books | Literature & Fiction | Suspense Thrill...,14%%,462,The Devil's Banker,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",12136614,399,Christopher Reich,Others,NaN,2004,none,NaN
6,75,Dell,Books | Literature & Fiction | Suspense Thrill...,14%%,554,The Brethren,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",10046244,479,John Grisham,Paperback,Dell,2012,none,NaN
7,53,Random House,Books | Literature & Fiction | General | The I...,11%%,485,The Innocent,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",32878233,432,"Stevens, Taylor",Paperback,Random House,2014,none,NaN
8,63,Random House Publishing Group,Books | Literature & Fiction | Romance | True ...,14%%,462,True Love,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13669961,399,Jude Deveraux,Others,NaN,2014,none,NaN
9,90,Harper Collins Publishers India,Books | Literature & Fiction | General | Warri...,36%%,250,Warriors: Power of Three #3: Outcast,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",44858122,160,Erin Hunter,Paperback,Harper Collins Publishers India,2015,none,NaN
10,58,Vsp International Science Publishers,Books | Literature & Fiction | Suspense Thrill...,30%%,195,Item Girl,"[""Cash On Delivery"", ""Credit Card"", ""Debit Car...",6130321,137,Richa Lakhera,Paperback,Rupa Publication,2014,Bookcentre,144.0
11,68,Pocket Books,Books | Literature & Fiction | Romance | Sange...,21%%,325,Sanger In The Moonlight,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",29544207,257,Jude Deveraux,Paperback,Pocket Books,2012,Starmark,293.0
12,180,WALKER BOOKS,Books | Literature & Fiction | Others | Happy ...,29%%,630,Happy Christmas; Maisy,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",12385352,450,NaN,Hardcover,NaN,2011,none,NaN
13,280,NaN,Books | Literature & Fiction | Others | Flower...,20%%,1399,Cube Book Flowers,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",2431937,1119,NaN,Hardcover,NaN,2007,none,NaN
14,672,St Martins Press,Books | Literature & Fiction | General | Makin...,40%%,1679,Making Your Point,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",8574059,1007,Mishna Wolff,Hardcover,St. Martins Press,2008,none,NaN
15,120,Berkley,Books | Literature & Fiction | Romance | Blood...,14%%,879,Blood Magic,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13663051,759,"Roberts, Nora",Paperback,Berkley,2014,none,NaN
16,45,NaN,Books | Literature & Fiction | Literature | Th...,15%%,299,The Lady Of The Rivers,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",2419549,254,Philippa Gregory,Paperback,Simon And Schuster,2011,none,NaN
17,66,Pan Macmillan UK,Books | Literature & Fiction | Literature | Lair,9%%,724,Lair,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13614007,658,James Herbert,Paperback,Pan Macmillan U.K,2010,none,NaN
18,90,Alma Books,Books | Literature & Fiction | Literature | Be...,30%%,299,Bestseller,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",21153195,209,Gallenzi Alessandra,Paperback,Alma Books,2012,Dux Marketing Services,299.0
19,63,Random House,Books | Literature & Fiction | Romance | Late ...,14%%,462,Late For The Wedding,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",16172763,399,Amanda Quick,Others,NaN,2004,none,NaN
20,50,Random House Publishing Group,Books | Literature & Fiction | Classics | Summer,14%%,366,Summer,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13593721,316,Edith Wharton,Others,NaN,1993,none,NaN
21,915,Bloomsbury,Books | Literature & Fiction | General | Walte...,9%%,10061,Walter Scott And Contemporary Theory,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13598967,9146,Evan Gottlieb,Paperback,Bloomsbury,2013,none,NaN
22,126,Harper Collins Publishers India,Books | Literature & Fiction | General | Alpha...,36%%,350,Alphabet Soup For Lovers,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",44860286,224,Anita Nair,Paperback,Harper Collins Publishers India,2015,Tapyourbook.com,245.0
23,63,Random House,Books | Literature & Fiction | Suspense Thrill...,14%%,462,The Third Victim,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13206324,399,Lisa Gardner,Others,NaN,2001,none,NaN
24,54,Harper Collins Publishers India,Books | Literature & Fiction | General | His D...,36%%,150,His Diamond of Convenience,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",44859777,96,NaN,Paperback,Harper Collins Publishers India,2015,none,NaN
25,57,Random House,Books | Literature & Fiction | Romance | The G...,14%%,416,The Golden Valkyrie,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",10045616,359,Iris Johansen,Others,NaN,2008,none,NaN
26,63,Random House Publishing Group,Books | Literature & Fiction | Romance | First...,14%%,462,First Comes Marriage,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13563125,399,Mary Balogh,Others,NaN,2009,none,NaN
27,114,PENGUIN USA,Books | Literature & Fiction | General | Kiss ...,14%%,833,Kiss My Math : Showing Pre-Algebra Who's,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13612450,719,NaN,Paperback,NaN,2009,none,NaN
28,132,Henry Holt And Company,Books | Literature & Fiction | General | 102 M...,14%%,971,102 Minutes,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13633591,839,Paul Bracken Bracken Peg Carolyn,Paperback,Henry Holt And Company,2001,none,NaN
29,94,New York Review Books,Books | Literature & Fiction | Short Stories |...,14%%,692,The Professor And The Siren,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13669001,598,Giuseppe Tomasi Di Lampedusa,Paperback,NaN,2014,none,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,95,HarperCollins Publisher,Books | Non Fiction | Others | Empire of Silver,28%%,334,Empire of Silver,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",12383314,239,NaN,Paperback,NaN,2010,none,NaN
1471,63,India Book Distributors,Books | Non Fiction | Others | SICILIAN- THE,14%%,462,Sicilian- The,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13610572,399,NaN,Paperback,NaN,2001,none,NaN
1472,77,Random House Publishing Group,Books | Non Fiction | Families & Relationship ...,9%%,845,"Mom, They'Re Teasing Me","[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13646690,768,Michael Phd Thompson,Paperback,NaN,2004,none,NaN
1473,153,Orion,Books | Non Fiction | Others | Bloodline,22%%,695,Bloodline,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",38787195,542,NaN,Paperback,NaN,2012,Sagar Enterprises,556.0
1474,100,Random House,Books | Children & Teens | Children | Others |...,25%%,399,Fools Die,"[""Cash On Delivery"", ""Credit Card"", ""Debit Car...",8380129,299,Mario Puzo,Paperback,Arrow,2012 September,BookNow,319.0
1475,120,CANONGATE,Books | Non Fiction | General | Fear Of Dying,20%%,599,Fear Of Dying (Lead Title),"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",38614856,479,"Jong, Erica",Paperback,Canongate,2015,none,NaN
1476,698,Collins,Books | Non Fiction | General | The Flight Of ...,40%%,1746,The Flight Of The Creative Class,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",8576449,1048,Richard Florida,Hardcover,Collins,2005,none,NaN
1477,194,Perennial,Books | Non Fiction | General | Margaret Thatcher,14%%,1422,Margaret Thatcher,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13599220,1228,Margaret Thatcher,Paperback,Perennial,2013,none,NaN
1478,57,HARPER COLLINS PUB INDIA (S&S),Books | Non Fiction | Others | Marriage Bargain,14%%,420,Marriage Bargain,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",10041010,363,NaN,Paperback,NaN,2012,none,NaN
1479,114,Potter/Tenspeed/Harmony,Books | Non Fiction | Philosophy | Awakening T...,14%%,833,Awakening The Buddha Within,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13602786,719,Lama Surya Das,Paperback,NaN,1998,none,NaN
1480,70,NaN,Books | Children & Teens | Children | Activity...,28%%,250,Pirate Latitudes,"[""Cash On Delivery"", ""Credit Card"", ""Debit Car...",990622,180,Michael Crichton,Paperback,Harpercollins Publisher,2009,BookNow,200.0
1481,598,Wiley,Books | Non Fiction | Others | Syntax A Genera...,14%%,4387,Syntax A Generative Introduction 3 Rev Ed Edition,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13642136,3789,NaN,Paperback,NaN,2012,none,NaN
1482,114,Ballantine Books,Books | Non Fiction | Families & Relationship ...,14%%,833,The Pressured Child,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13654884,719,Michael Phd Thompson,Paperback,NaN,2005,none,NaN
1483,80,Viva Books Private Limited,Books | Non Fiction | Others | E-MAIL SELLING ...,40%%,199,E-MAIL SELLING TECHNIQUES 01,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",12086886,119,NaN,Paperback,NaN,NaN,Print Pedia,161.0
1484,82,To Excelkaleidoscope Sof,Books | Regional Books | Hindi | Kaise Payen V...,30%%,275,Kaise Payen Vyapar Mein Jadui Safalta,"[""Cash On Delivery"", ""Credit Card"", ""Debit Car...",5819601,193,Donald J Trump Robert T Kiyosaki,Paperback,Manjul Publishing House,2011,Tapyourbook.com,207.0
1485,0,Hodder & Stoughton,Books | Non Fiction | Others | The Last Summer...,0%%,319,The Last Summer (of You & Me),"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",22586097,319,NaN,Paperback,NaN,2008,none,NaN
1486,120,Puffin,Books | Non Fiction | Others | The Adventures ...,14%%,879,The Adventures Of Robin Hood,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13611273,759,NaN,Hardcover,NaN,2011,none,NaN
1487,216,Sterling,Books | Non Fiction | General | House Beautifu...,14%%,1583,House Beautiful Colors For Your Home Exp,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13663316,1367,The Editors Of House Beautiful Magazine,Paperback,Sterling,2014,none,NaN
1488,0,Little Brown Book Group,Books | Non Fiction | Others | Portrait Of A K...,0%%,395,Portrait Of A Killer,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",15389825,395,NaN,Paperback,NaN,2003,none,NaN
1489,315,Wiley,Books | Non Fiction | General | Getting Starte...,15%%,2100,Getting Started In Real Estate Day Trading,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",10451060,1785,Larry Goins,Hardcover,Wiley,NaN,none,NaN
1490,364,NaN,Books | Non Fiction | Others | Fade Away : 3,61%%,599,Fade Away : 3,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",46782516,235,NaN,Paperback,NaN,2002,none,NaN
1491,175,Ballantine Books,Books | Non Fiction | Families & Relationship ...,14%%,1283,It's A Boy!,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13627252,1108,Michael Phd Thompson,Paperback,NaN,2009,none,NaN
1492,0,Corgi Childrens,Books | Non Fiction | General | Mortality Doct...,0%%,350,Mortality Doctrine: The Game Of Lives,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",51083766,350,James Dashner,Paperback,Corgi Childrens,2015,none,NaN
1493,364,NaN,Books | Non Fiction | Others | Pop Goes the We...,61%%,599,Pop Goes the Weasel,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",46785379,235,NaN,Paperback,NaN,2004,none,NaN
1494,0,Harper Collins Publishers India,Books | Non Fiction | Others | Delphie and the...,0%%,99,Delphie and the Glass Slippers,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",44857136,99,NaN,Paperback,HarperCollins Childrens Books Harper Collins P...,2013,none,NaN
1495,189,HACHETTE INDIA,Books | Non Fiction | Others | A THOUSAND COUN...,14%%,1385,A Thousand Country Roads By Waller Robert Jame...,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",13675369,1196,NaN,Paperback,NaN,2003,none,NaN
1496,2692,Informa Healthcare,Books | Non Fiction | General | Overuse Injuri...,25%%,10768,Overuse Injuries Of The Musculoskeletal System,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",12156187,8076,Pecina Bojanic,Hardcover,Informa Healthcare,2003,A1,14168.0
1497,250,NaN,Books | Non Fiction | Others | A Question of B...,50%%,499,A Question of Blood : Rebus 14,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",46784650,249,NaN,Paperback,NaN,2005,none,NaN
1498,49,Pan Macmillan India,Books | Non Fiction | Others | How To Think Mo...,11%%,450,How To Think More About Sex: The School of Life,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",32876583,401,NaN,Paperback,NaN,2012,none,NaN
1499,174,NaN,Books | Non Fiction | Others | THOUSANDS SPLEN...,35%%,499,THOUSANDS SPLENDID SUNS by hosseini khaled|aut...,"[""Credit Card"", ""Debit Card"", ""Net Banking"", ""...",45869161,325,NaN,Paperback,NaN,2007,GBD Books,359.0